<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/reveal.js/reveal.css">
    <link rel="stylesheet" href="/reveal.js/theme/black.css">
</head>
<body>
<div class="reveal">
    <div class="slides">
        {%- for slide in content | splitSlides -%}
            <section>{{ slide | safe }}</section>
        {%- endfor -%}
    </div>
</div>
<script src="/reveal.js/reveal.js"></script>
<script>
    Reveal.initialize();
</script>
</body>
</html>